body {
    background-color: rgba(234, 242, 245, 0.76);
    padding:0;
    margin:0;
    font-family: Verdana;
}

h1{
    font-family: Helvetica;
}
.titulo_encuesta_observatorio {
    font-size: 1.875rem;
    margin: 1rem 0;
    font-weight: 400;
}
div.container{
    margin: 25px auto;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 48rem){
   div.container{
        padding: 21px 15px;
    } 
    .titulo_encuesta_observatorio{
        font-size: 1.25rem;
    }
}
/*** HEADER ***/
header .container-fluid.cabecera {margin-bottom:1rem;padding: 0px 40px;}
header .container-fluid.cabecera .logo-calidad {margin-top: 10px;}
header .container-fluid.cabecera .logo-calidad img{width: 338px;float: right;max-width: 100%;}
.cabecera .container{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.logo-container,
.logo2-container{
	height: 65px; 
	max-width: 45%;
}
.logo-container a,
.logo2-container a{
	display: block;
	height: 100%;
}
.logo-container img,
.logo2-container img{
	object-fit: contain;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 48rem){
	.cabecera .container{
		padding: 15px;
	}
	.logo-container,
	.logo2-container{
		height: 50px;
		max-width: unset;
	}
}
main .franja{margin-top:-1rem;}
@media screen and (max-width: 48rem){
   header .container-fluid.cabecera{
       margin: 0;
       padding: 0;
   }
    header .container{
        margin: 0 0 20px;
    }
    .cabecera .logo #logo-section{
        margin: 0;
    }
    header .container-fluid.cabecera .logo-calidad{
        margin:0;
    }
}
@media screen and (max-width: 48rem){
    .titulo_encuesta{
       padding: 0 15px 9px !important;
       margin: 0 !important;
    }

}
.se-intmain--txtcont {
    padding: 0;
    margin: 0 0 2rem;
}
/*** FOOTER ***/
footer .fijo {height: 5rem;padding-top: 11rem;}

/*** FORMULARIOS ***/
.titulo_encuesta{font-weight: bold;color: #123f6e;font-size: 1.2rem;max-width: 1300px;padding-left: 32px;margin-right: auto;margin-left: auto;margin-bottom: 1rem;}
.form-app{border: 1px solid #dfdfdf; border-left: 5px solid #2C6393; padding:0rem 1rem;margin-top:2rem}
form.form-app > fieldset > legend{font-size: 1.25rem; font-weight: 400;}
.form-app fieldset, .form-app fieldset .group-body{margin: 0.5rem 0rem;}
.form-app fieldset h2{border-bottom: 0px;font-weight: bold;text-transform: uppercase;}
.form-app fieldset .form-row{display: block;border-top: 4px solid #ccc;padding: 1rem;width: 100%;box-sizing: border-box;}
.form-app fieldset .form-row.oculto{border-top:none}
.form-app fieldset legend{font-size: 0.8rem;}
.form-app fieldset legend.legend--oculto{visibility: hidden; max-height: 0rem}
.form-app fieldset .mod {display:flex}
.form-app fieldset .mod .form-item{display:flex;align-items: baseline;}
.form-app fieldset .mod .form-item label{margin-right:1rem;}
.form-app fieldset .form-row label{width: 70%;/*color: #123f6e;min-height: 3rem;*/min-width: 35%;line-height: 1.6;}
.form-app fieldset .se-flexible-pregunta-titulo{width: 70%;color: #123f6e;margin:0 0 1.5rem;min-width: 35%;font-size: 0.9rem;font-weight: 600;}
legend.se-flexible-pregunta-titulo {float: left;width: 100% !important;display: block;}
/* .form-app fieldset .form-row label:first-child{font-weight: bold;} */
.form-app fieldset.radio-buttom .form-item label{font-weight: normal;margin-right: 0.2rem;min-height: 0rem;}
.form-app fieldset .mod .form-item input[type=radio]{width: 30px;}
.form-app fieldset textarea, .form-app select, .inputEnLinea {width: 100%;border: 1px solid #dfdfdf;border-radius: 5px !important;}
.form-app fieldset .button-wrapper{display: flex;width: 70%;margin: 3rem 0 1rem 15%;}

.form-app fieldset .group-select {color: #123f6e;}
.form-app fieldset .group-select .group-header .group-title{display: flex;justify-content: center;font-weight: bold;color: #123f6e;}
.form-app fieldset .group-select .group-header .group-description p{border-bottom: 4px solid #ccc;font-size:0.8rem}
.form-app fieldset .group-select .form-row{display: flex;color: #123f6e;border-top:none;padding: 0rem;margin: 0rem;}
.form-app fieldset .group-select .form-row label{width: 65%;margin-left: 0.3rem;}
.form-app fieldset .group-select .form-row .mod{width:30%;}

.form-app fieldset .button-wrapper input{background-color: #123f6e;padding: 0.5rem 1rem;width: auto;height: auto;}
.form-app fieldset .button-wrapper input:hover{background-color: #2c6393;}
.form-app fieldset .button-wrapper input:focus{background-color: #2c6393;outline: 2px dotted currentColor;outline-offset: -2px;}

.form-app fieldset .form-row select{width: 65%;}
.form-app fieldset .form-row select:focus, .form-app fieldset .mod .form-item input:focus{box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);}
.form-app fieldset .col-lg-12.col-md-12.col-sm-12 select{width: 20%;min-height: 28px;}
.form-app fieldset .group-body {margin-left:0.8rem}
.form-app fieldset textarea{margin-bottom: 1rem;}

.form-app .form-item{margin-left: 1rem; clear: both;}
.form-app .se-flexible-texto{margin-left: 1rem; clear: both;}


.form-app fieldset .col-lg-12.col-md-12.col-sm-12 fieldset .row > label {min-height: unset;margin: 0 0 8px 1rem;font-size:0.9rem;font-weight: 400;}
input[type="date"]{border: 1px solid #dfdfdf;border-radius: 5px !important;padding-left: 8px;}

.franja{display: block;}

/*** CONTADOR ***/
.contadorTkn {color: #29416c;margin: 2.5rem 0 2px;}
.contadorTkn .labelContador{ display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: first baseline; visibility: hidden;}
.contadorTkn p, .contadorTkn .dato {font-size: 0.9rem;margin: 0rem 0.3rem;font-weight: bold;}
#contadorToken {color:#dc0909}

/*** RESPONSIVE ***/
@media (max-width: 992px){
    .titulo_encuesta{font-size:1rem;margin-right:1rem;padding-bottom:0.5rem;}
    .form-app fieldset .group-select .form-row .mod {width: auto;}
    .form-app .col-lg-12 .form-row label {width: 90%;margin-left: 0.5rem;}
    .form-app fieldset .col-lg-12.col-md-12.col-sm-12 select{width:auto; min-width:20%}
    .form-app fieldset .form-row label{width:70%;min-height: 0rem;margin-bottom: 0rem;margin-left: 0.2rem;font-size: 0.8rem;}
    .form-app .form-item{display: flex;align-items: center;margin-top: 0.5rem;}
    .form-wrapper fieldset .button-wrapper input{margin-right:0.3rem}
    .form-wrapper fieldset .button-wrapper {margin-left: 1rem;}
    #captchaEmpresa {margin: 0rem !important;width: 95% !important;}
    .imgPrincipalCaptcha {width: 16rem !important;margin-left: 0.5rem;}
    .caracteres {margin-left: 1rem;}
    .form-app .form-item{margin-left: 0.5rem;}
}
.form-app fieldset .pregunta-container.row label{
    width: 100%;
}
@media (max-width: 391px) {
    .form-app{
        padding: 0 5px;
    }
    /* .pregunta-container.row{
    } */
    /* .pregunta-container.row div[class*="col"]{
    } */
    .form-app fieldset .form-row{
        padding-left:0;
        padding-right: 0;
        margin-right: 0px;
        margin-left: 0px;
    }
    .imgPrincipalCaptcha {width: 13rem !important;}
    .titulo_encuesta{font-size:0.8rem}
}
@media (max-width: 320px) {
    .imgPrincipalCaptcha {width: 11rem !important;}
}
@media (max-width: 280px) {
    .imgPrincipalCaptcha {width: 10rem !important;}
}

.form-app fieldset .group-select .form-row label{width: 58%;margin-left: 0.3rem;}

.enc-modal-confirm-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enc-modal-confirm {
    padding: 15px;
    width: 25rem;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.enc-modal-confirm div {
    margin-top: 10px;
}

.enc-modal-confirm-btn-cancel {
    background-color: dimgray;
}
.txt-info-form {padding: 22px 0 0;margin: 10px 0 0;border-top: 8px double #123f6e;}

.txt-info-form h3 {font-size: 1.125rem;margin: 0 0 1rem;}

hr.separador {background-color: #fff;height: 0px;margin: 22px auto 32px;border-top: 8px double #123f6e;}

.pregunta {margin-left: 0; margin-right: 0}
/*Preguntas repetitivas*/
.boton-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.grupo-repetitivo{
  border: 2px solid #123f6e;
  border: 2px solid #ccc;
  margin: 10px 0;
  padding: 10px;
}
.grupo-repetitivo[tabindex="-1"]:focus-visible {
  outline: 1px dashed #123f6e !important;
  outline-offset: -4px;
}
#btn-global-repetitivas {
    background-color: #123f6e;
    color: white;
    padding: 0.5rem 1rem;
    width: auto;
    height: auto;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    float: right; /* alineación derecha */
    margin: 10px 0;
  }
  
  #btn-global-repetitivas:focus {
    outline: 2px dotted currentColor;
    outline-offset: -2px;
  }
  #btn-global-repetitivas:hover,
  #btn-global-repetitivas:focus {
    background-color: #2c6393;
  }
  
  