.se-head-wrapper {
  flex-wrap: wrap;
}

.se-navmain {
  flex-grow: 1;
  border-width: 1px 0;
  border-style: solid;
  border-color: #000;
  position: relative;
  margin: 0 auto;
  max-height: calc(100vh - 100px);
}
/*
.se-navmain::before {
  content: attr(aria-describedby);
  position: absolute;
  padding: 1px 6px;
  background: white;
  opacity: 0;
  transition: all 1s ease-in;
  transition-delay: 0.5s;
  bottom: 3rem;
}
@media screen and (max-width: 61.9rem) {
  .se-navmain::before {
    position: fixed;
    top: 45px;
    bottom: auto;
  }
}
.se-navmain.has-focus-in::before {
  opacity: 1;
  transition: all 0.7s ease-out;
}
*/
.se-navmain a {
  color: inherit;
}
@media screen and (max-width: 61.9rem) {
  .se-navmain {
    display: none;
  }
  .is-navmode .se-navmain {
    display: block;
    overflow: auto;
    min-width: 100%;
    height: calc(100vh - 100px);
    z-index: -1;
  }
}

.se-navmain--lst {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
}
.cls-btn-navigation{
    display: none;
}
@media screen and (min-width: 62rem) {
  .se-navmain--lst {
    display: flex;
    padding: 0 30px;
  }
  .cls-btn-navigation{
    display: block;
    position: sticky;
    top: 12px;
    z-index: 1;
    margin-top: -40px;
    float: right;
    margin-right: -40px;
    width: 40px;
    height: 40px;
  }
  .cls-btn-navigation:focus{
    outline: none;
  }
  .cls-btn-navigation:focus-visible{
    outline: 1px solid ;
  }
  .cls-btn-navigation::before{
    content: "\f00d";
    font-family: 'Font Awesome 5 Free';
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 40px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
  }
}

.se-navmain--item {
  font-size: 1rem;
  display: block;
}
@media screen and (max-width: 61.9rem) {
  .se-navmain--item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.se-navmain--lnk {
  display: block;
  padding: 6px 8px;
  margin: 0 1.5625rem 0 0;
  position: relative;
  font-weight: 600;
  text-decoration: none;
}
.se-navmain--lnk::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
}
.se-navmain--lnk:focus-visible {
  outline: 2px auto #000;
}
.se-navmain--item.is-open .se-navmain--lnk::after, .se-navmain--item:hover .se-navmain--lnk::after {
  background-color: #323232;
}
@media screen and (max-width: 74.9rem) {
  .se-navmain--lnk {
    margin: 0 1rem 0 0;
  }
}
@media screen and (max-width: 61.9rem) {
  .se-navmain--lnk {
    max-width: calc(100% - 1.6rem - 20px);
    flex-grow: 1;
    margin-right: 0;
  }
}
.se-mainnav--trbtn {
  border: 1px solid #eee;
  width: 1.875rem;
  height: 1.875rem;
  margin: 4px;
  border-radius: 4px;
}
.se-mainnav--trbtn::after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  line-height: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  transition: all 0.3s ease-in;
  vertical-align: middle;
}
.is-open .se-mainnav--trbtn::after {
  transform: rotate(90deg);
}

.se-navpop {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  margin-top: 1px;
  overflow: hidden;
}
.se-navmain--item:focus .se-navpop,
.se-navmain--item.is-key-open .se-navpop{
  display: block;
  visibility: visible;
  height: auto;
  max-height: calc(100vh - 115px);
  opacity: 1;
  transition: all 0s;
  transition-delay: 0;
}
@media screen and (max-width: 61.9rem) {
  .se-navpop {
    flex-basis: 100%;
    flex-grow: 1;
    height: 0;
  }
  .se-navmain--item.is-btn-open .se-navpop {
    display: block;
    visibility: visible;
    height: auto;
    opacity: 1;
  }
}
@media screen and (min-width: 62rem) {
  .se-navpop {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 1px 0 0;

    max-height: 0;
    transition-property: visibility, opacity, max-height;
    transition-timing-function: ease-in-out;
    transition-duration: .4s, .4s, .1s;
    transition-delay: .3s;

  }
  .se-mainnav--trbtn {
    display: none;
  }

 .se-mainnav--trbtn:focus{
     outline: none;
 }
  .se-mainnav--trbtn:focus-visible{
     outline: 1px solid ;
 }
 .se-navmain--item.is-hover .se-navpop {
    display: block;
    visibility: visible;
    max-height: calc(100vh - 115px);
    overflow: auto;
    opacity: 1;
    transition-property: visibility, opacity, max-height;
    transition-timing-function: ease-in-out;
    transition-duration: .4s, .4s 0;
    transition-delay: .3s;
  }
  .se-navmain--item.is-hidden .se-navpop{
      display: none;
  }
}
.se-navpop--main {
  max-width: 160rem;
  margin: 0 auto;
  padding: 10px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
@media screen and (min-width: 62rem) {
  .se-navpop--main {
    padding: 52px 72px 60px;
  }
}

.se-navpop--nav {
  margin: 0;
  padding: 0;
}

.se-navpop--block {
  display: block;
  flex-basis: 25%;
  min-width: 16rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
@media screen and (max-width: 62rem) {
  .se-navpop--block {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: unset;
  }
}

.se-navpop--title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 62rem) {
  .se-navpop--title {
    margin-bottom: 12px;
  }
}

.se-navpop--mlnk {
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
}
.se-navpop--mlnk:hover {
  text-decoration: underline;
}
@media screen and (max-width: 62rem) {
  .se-navpop--mlnk {
    font-size: 1rem;
  }
}

.se-navpop--lst {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 2rem
}

.se-navpop--item {
  position: relative;
  display: flex;
  margin-bottom: 1.375rem;
  font-weight: 400;
}

.se-navpop--item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 40%;
  margin: .56rem 7px 0 -15px;
}

.se-navpop--lnk {
  text-decoration: none;
}
.se-navpop--lnk:hover {
  text-decoration: underline;
}
.se-headnav--menubtn {
  display: flex;
  flex-flow: column;
  margin: 0 10px 0 0;
  align-self: center;
  text-align: center;
  border-radius: 2px;
  font-size: .875rem
}
.se-headnav--menubtn span {
  font-size: .688rem;
}
.se-headnav--menubtn::before {
  content: "\e5d2";
  font-family: 'Material Icons';
  font-size: 1.6rem;
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 0.7;
  vertical-align: bottom;
}
.se-headnav--menubtn[aria-expanded="true"]::before{
    content: "×";
    font-size: 2.5rem;
    line-height: 0;
    height: 16px;
}
.se-headnav--menubtn:focus,
.se-headnav--menubtn:focus-visible {
  outline: 2px solid
}
@media screen and (min-width: 62rem){
  .se-headnav--menubtn{display: none;}
}
.se-simple-pagesch .se-pagesch--sbmt{
  width: 2.25rem;
  height: 2.25rem;
  margin-left: -2.25rem;
}
