version: '3.8'

services:
  # --- TU SERVICIO DE ESTRÉS (sysbench) ---
  sysbench-stress:
    build: .
    container_name: sysbench_attacker
    network_mode: "host" 
    environment:
      DB_HOST: 10.2.7.101    
      DB_PORT: 3306             
      DB_USER: pmm             
      DB_PASS: pass_segura_pmm 
      DB_NAME: employees        
      THREADS: 16       
      TIME: 60          
      TABLES: 10        
      TABLE_SIZE: 100000 

  # --- NUEVO SERVICIO: PERCONA MONITORING AND MANAGEMENT ---
  pmm-server:
    image: percona/pmm-server:2
    container_name: pmm-server2
    hostname: pmm-server
    restart: always
    # Exponemos los puertos para ver el panel web
    ports:
      - "80:80"   # Acceso HTTP
      - "443:443" # Acceso HTTPS
    # Volumen para que no pierdas los datos de las gráficas al reiniciar
    volumes:
      - pmm-data2:/srv

volumes:
  pmm-data2: